.like {
  box-sizing: border-box;
  border: 5px solid green;
  padding: 20px;
  width: 180px;
  margin: 50px;

  div {
    background-color: yellow;
  }
}

.bootcamp {
  border: 1px solid orange;
  padding: 0 100px;
}

.lion {
  display: block;
  border: 5px solid red;
  padding: 10px;
  margin: 20px 0;
}

.student {
  margin-bottom: 50px;
  width: 300px;
  margin-left: 50px;
}
